Using a function vs method

here we have lists

.extend()

.append()

.clear()

In [2]:
lunch = ['sandwich','soup','salad']

In [3]:
lunch

['sandwich', 'soup', 'salad']

In [4]:
lunch[0]

'sandwich'

In [5]:
fruits = ['pineapple','apple','kiwi','banana']
fruits

['pineapple', 'apple', 'kiwi', 'banana']

In [6]:
fruits.sort()

In [7]:
fruits

['apple', 'banana', 'kiwi', 'pineapple']

In [8]:
veggies = ['potatoes','celery','cabbage','bell pepper', 'onion']

In [9]:
sorted(veggies)

['bell pepper', 'cabbage', 'celery', 'onion', 'potatoes']

In [10]:
veggies

['potatoes', 'celery', 'cabbage', 'bell pepper', 'onion']

sorted() func does not change the list itself as it is a function 


listname.sort() method changes it permanently as it is a method

In [11]:
list_example2 = ['Banana','apple','Apple']
list_example2

['Banana', 'apple', 'Apple']

In [12]:
sorted(list_example2)

['Apple', 'Banana', 'apple']

# sorted() sorts based on the unicode value

A - 65


a - 97

In [13]:
veggies = ['potato','celery','cabbage','bell pepper','onion']

In [14]:
sorted(veggies)

['bell pepper', 'cabbage', 'celery', 'onion', 'potato']

In [15]:
def last_letter(text):
    return text[-1]

In [16]:
sorted(veggies,key=last_letter)

['cabbage', 'onion', 'potato', 'bell pepper', 'celery']

In [17]:
students_per_class = [['Grade 9',20],['Grade 10',17],['Grade 11',13],['Grade',22]]

In [21]:
def second_element(item):
    return item[1]

#we are taking the second element of the list and return that (index=1)

In [19]:
students_per_class.sort(key=second_element)

In [20]:
students_per_class

[['Grade 11', 13], ['Grade 10', 17], ['Grade 9', 20], ['Grade', 22]]

we put the function as a key in the method

# Tuples 

()

In [22]:
mutable_synonyms = ('changable','fluctuating','inconstant','variable')

In [23]:
empty_tuple1 = ()
type(empty_tuple1)

tuple

tuples are inmutable

once they are created, they are not changeable. no append.. nothing

In [24]:
empty_tuple2 = ()
type(empty_tuple2)

tuple

In [25]:
empty_tuple1.append('hi')

AttributeError: 'tuple' object has no attribute 'append'

In [26]:
len(mutable_synonyms)

4

In [27]:
mutable_synonyms.sort()

AttributeError: 'tuple' object has no attribute 'sort'

# Set

{}

In [28]:
things = {'coat','lock','box','book','apple','hair','xylophone','lock','book'}

In [29]:
things

{'apple', 'book', 'box', 'coat', 'hair', 'lock', 'xylophone'}

all the duplicates are shown once
every single item will be unique
set datatype is in order 

it has its own algorithm, not alphabetical actually. has its own algorithm

In [30]:
type(things)

set

In [31]:
visitor_post_codes = ['M5R','M5V','M1M','M1M','M1T']

In [33]:
set(visitor_post_codes) #we changed the datatype to set, and it got ordered and duplicates are removed

{'M1M', 'M1T', 'M5R', 'M5V'}

In [34]:
things

{'apple', 'book', 'box', 'coat', 'hair', 'lock', 'xylophone'}

In [35]:
things.add('lock')
things

{'apple', 'book', 'box', 'coat', 'hair', 'lock', 'xylophone'}

In [36]:
things.remove('apple')

In [37]:
things

{'book', 'box', 'coat', 'hair', 'lock', 'xylophone'}

In [38]:
things[1]

TypeError: 'set' object is not subscriptable

since the set is not in order, we cannot access the elements with their index

In [39]:
rainbow = {'red','orange','yellow','green','blue','indigo','violet'}

In [40]:
olympic_flag = {'red','green','yellow','blue','black'}

In [45]:
rainbow.difference(olympic_flag) #order matter. we have these values in first, not in the second set

{'indigo', 'orange', 'violet'}

In [44]:
olympic_flag.difference(rainbow)

{'black'}

In [46]:
#symmetric difference find the values that are in only one of two sets

rainbow.symmetric_difference(olympic_flag)

{'black', 'indigo', 'orange', 'violet'}

In [43]:
rainbow.intersection(olympic_flag) #intersection -  finds the values two sets in common

{'blue', 'green', 'red', 'yellow'}

In [47]:
#union combine two sets to get the unique values in both

rainbow.union(olympic_flag)

{'black', 'blue', 'green', 'indigo', 'orange', 'red', 'violet', 'yellow'}

# Dictionary


key: value  - like a pair

dictionaries are ordered and mutable


every key is unique, keys can be any immutable data types


values can be any data type

In [1]:
capitals = {'Canada':'Ottawa',
            'Mexico': 'Mexico City'}

In [2]:
type(capitals)

dict

In [3]:
olympic_cities = {2020: 'Tokyo', 2016: 'Rio de Janiero', 2012: 'London'}
olympic_cities

{2020: 'Tokyo', 2016: 'Rio de Janiero', 2012: 'London'}

In [6]:
all_olympic_hosts = {'summer': olympic_cities,
                     'winter': {2022: 'Beijing', 2018: 'Pyeongchang'}}
all_olympic_hosts

{'summer': {2020: 'Tokyo', 2016: 'Rio de Janiero', 2012: 'London'},
 'winter': {2022: 'Beijing', 2018: 'Pyeongchang'}}

set is not mutable

dictionaries are mutable

In [7]:
olympic_cities[2020]

'Tokyo'

In [8]:
olympic_cities[2012]

'London'

In [9]:
all_olympic_hosts

{'summer': {2020: 'Tokyo', 2016: 'Rio de Janiero', 2012: 'London'},
 'winter': {2022: 'Beijing', 2018: 'Pyeongchang'}}

In [10]:
all_olympic_hosts['summer']

{2020: 'Tokyo', 2016: 'Rio de Janiero', 2012: 'London'}

key winter - correspoding values are ... dictionary

In [11]:
all_olympic_hosts['winter']

{2022: 'Beijing', 2018: 'Pyeongchang'}

In [14]:
all_olympic_hosts['winter'][2022] #in key winter that gives the dictionary, the key 2022 corresponds to the dictonary beijing

'Beijing'

In [15]:
olympic_cities

{2020: 'Tokyo', 2016: 'Rio de Janiero', 2012: 'London'}

In [16]:
olympic_cities.get(2004,'Athens') #if it doesnt find 2004, it returns the default value 'Athens'

'Athens'

In [17]:
olympic_cities.get(2004)

In [18]:
olympic_cities[2004]

KeyError: 2004

In [19]:
olympic_cities[2008] = 'Beijing'

In [20]:
olympic_cities

{2020: 'Tokyo', 2016: 'Rio de Janiero', 2012: 'London', 2008: 'Beijing'}

In [ ]:
del olympic_cities[2020] #deletes object

KeyError: 2020

In [23]:
olympic_cities

{2016: 'Rio de Janiero', 2012: 'London', 2008: 'Beijing'}

key : value

In [24]:
all_olympic_hosts.keys()

dict_keys(['summer', 'winter'])

# Concept maps

data types, if they are mutable or unmutable, ordered or not ordered

In [25]:
all_olympic_hosts.values()

dict_values([{2016: 'Rio de Janiero', 2012: 'London', 2008: 'Beijing'}, {2022: 'Beijing', 2018: 'Pyeongchang'}])

In [26]:
all_olympic_hosts.items()

dict_items([('summer', {2016: 'Rio de Janiero', 2012: 'London', 2008: 'Beijing'}), ('winter', {2022: 'Beijing', 2018: 'Pyeongchang'})])

how to tell python how to repeat chunks of code

In [ ]:
# for loop
# run an indented block of code for every item in an iterable

for i in ['monday','tuesday','wednesday','thursday']: 
    print(i)

monday
tuesday
wednesday
thursday

In [30]:
for number in {1, 2, 3, 4, 5}: #number = .. assigned to each and gets printed
    print(number)

1
2
3
4
5

In [31]:
items = {'cat','apple','dog'}

In [32]:
for item in items:
    print(item)

apple
dog
cat

In [33]:
for i in range(7):
    print(i, i*2)

0 0
1 2
2 4
3 6
4 8
5 10
6 12

In [34]:
for i in range(2,6): #start at 2, up to but not including 6
    print(i)

2
3
4
5

In [35]:
input_files = ['data_01.csv', 'data_02.csv', 'data_03.csv']
output_files = []

for i in input_files:
    output_file_name = i.replace('.csv','.xlsx') #output_file_name = 'data_01.xlsx'
    output_files.append(output_file_name) # output_files = ['data_01.xlsx']

output_files

['data_01.xlsx', 'data_02.xlsx', 'data_03.xlsx']

In [38]:
for idx, food in enumerate(['sandwich','veggies','fruit']): #idx = 1. food = 'veggies'
    print (idx, food)

0 sandwich
1 veggies
2 fruit

# Enumerate function

returns back both the index and position, and assigns back to idx 

and returns back to position and the item itself