Using a function vs method

here we have lists

.extend()

.append()

.clear()

In [2]:
lunch = ['sandwich','soup','salad']

In [3]:
lunch

['sandwich', 'soup', 'salad']

In [4]:
lunch[0]

'sandwich'

In [5]:
fruits = ['pineapple','apple','kiwi','banana']
fruits

['pineapple', 'apple', 'kiwi', 'banana']

In [6]:
fruits.sort()

In [7]:
fruits

['apple', 'banana', 'kiwi', 'pineapple']

In [8]:
veggies = ['potatoes','celery','cabbage','bell pepper', 'onion']

In [9]:
sorted(veggies)

['bell pepper', 'cabbage', 'celery', 'onion', 'potatoes']

In [10]:
veggies

['potatoes', 'celery', 'cabbage', 'bell pepper', 'onion']

sorted() func does not change the list itself as it is a function 


listname.sort() method changes it permanently as it is a method

In [11]:
list_example2 = ['Banana','apple','Apple']
list_example2

['Banana', 'apple', 'Apple']

In [12]:
sorted(list_example2)

['Apple', 'Banana', 'apple']

# sorted() sorts based on the unicode value

A - 65


a - 97

In [13]:
veggies = ['potato','celery','cabbage','bell pepper','onion']

In [14]:
sorted(veggies)

['bell pepper', 'cabbage', 'celery', 'onion', 'potato']

In [15]:
def last_letter(text):
    return text[-1]

In [16]:
sorted(veggies,key=last_letter)

['cabbage', 'onion', 'potato', 'bell pepper', 'celery']

In [17]:
students_per_class = [['Grade 9',20],['Grade 10',17],['Grade 11',13],['Grade',22]]

In [21]:
def second_element(item):
    return item[1]

#we are taking the second element of the list and return that (index=1)

In [19]:
students_per_class.sort(key=second_element)

In [20]:
students_per_class

[['Grade 11', 13], ['Grade 10', 17], ['Grade 9', 20], ['Grade', 22]]

we put the function as a key in the method

# Tuples 

()

In [22]:
mutable_synonyms = ('changable','fluctuating','inconstant','variable')

In [23]:
empty_tuple1 = ()
type(empty_tuple1)

tuple

tuples are inmutable

once they are created, they are not changeable. no append.. nothing

In [24]:
empty_tuple2 = ()
type(empty_tuple2)

tuple

In [25]:
empty_tuple1.append('hi')

AttributeError: 'tuple' object has no attribute 'append'

In [26]:
len(mutable_synonyms)

4

In [27]:
mutable_synonyms.sort()

AttributeError: 'tuple' object has no attribute 'sort'

# Set

{}

In [28]:
things = {'coat','lock','box','book','apple','hair','xylophone','lock','book'}

In [29]:
things

{'apple', 'book', 'box', 'coat', 'hair', 'lock', 'xylophone'}

all the duplicates are shown once
every single item will be unique
set datatype is in order 

it has its own algorithm, not alphabetical actually. has its own algorithm

In [30]:
type(things)

set

In [31]:
visitor_post_codes = ['M5R','M5V','M1M','M1M','M1T']

In [33]:
set(visitor_post_codes) #we changed the datatype to set, and it got ordered and duplicates are removed

{'M1M', 'M1T', 'M5R', 'M5V'}

In [34]:
things

{'apple', 'book', 'box', 'coat', 'hair', 'lock', 'xylophone'}

In [35]:
things.add('lock')
things

{'apple', 'book', 'box', 'coat', 'hair', 'lock', 'xylophone'}

In [36]:
things.remove('apple')

In [37]:
things

{'book', 'box', 'coat', 'hair', 'lock', 'xylophone'}

In [38]:
things[1]

TypeError: 'set' object is not subscriptable

since the set is not in order, we cannot access the elements with their index

In [39]:
rainbow = {'red','orange','yellow','green','blue','indigo','violet'}

In [40]:
olympic_flag = {'red','green','yellow','blue','black'}

In [45]:
rainbow.difference(olympic_flag) #order matter. we have these values in first, not in the second set

{'indigo', 'orange', 'violet'}

In [44]:
olympic_flag.difference(rainbow)

{'black'}

In [46]:
#symmetric difference find the values that are in only one of two sets

rainbow.symmetric_difference(olympic_flag)

{'black', 'indigo', 'orange', 'violet'}

In [43]:
rainbow.intersection(olympic_flag) #intersection -  finds the values two sets in common

{'blue', 'green', 'red', 'yellow'}

In [47]:
#union combine two sets to get the unique values in both

rainbow.union(olympic_flag)

{'black', 'blue', 'green', 'indigo', 'orange', 'red', 'violet', 'yellow'}